html {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
}

.koan.error {
    color: #e00;
}

.koan.success {
    color: #0e0;
}

.koan h2 {
    font-size: 125%;
}

.koan pre {
    font-family: Monaco, monospace;
}
